<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">

      <ul>
        <p>update property</p>
        <li v-for="(item, index) in list" v-bind:key="item.id">
          ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
          <span v-if="item.hp < 50">hinsi</span>
          <button v-on:click="doAttack(index)">attack</button>
        </li>
      </ul>

      <p>selector</p>
      <select>
        <option v-for="item in list">{{ item.name }}</option>
      </select>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.12/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
